@charset: "utf-8";

/* Icon*/
.icon {
  display: inline-block; 
  cursor: pointer; 
  background-position-x: center; 
  background-position-y: center; 
  background-repeat: no-repeat;
  vertical-align: middle;
}


/* nav Icon */
.icon1{
    background-position-x: 0;
}
.icon2{
    background-position-x: -50px;
}
.icon3{
    background-position-x: -100px;
}
.icon4{
    background-position-x: -150px;
}
.icon5{
    background-position-x: -200px;
}
.icon6{
    background-position-x: -250px;
}
.icon7{
    background-position-x: -300px;
}
.icon8{
    background-position-x: -350px;
}
.icon9{
    background-position-x: -400px;
}
.icon10{
    background-position-x: -450px;
}
.icon11{
    background-position-x: -500px;
}
.icon12{
    background-position-x: -550px;
}
.icon13{
    background-position-x: -600px;
}

/* 日历图标 */
.icon-calendar{
	background-image: url(../../images/icon-calendar.png);
}

/* 搜索图标 */
.icon-search{
	background-image: url(../../images/icon-search.png);
}