.icon-ryjbxx{
	background:url('../../../../images/emdc/rygl/icons/ryjbxx.png') no-repeat center -1px;
}
.icon-bm{
	background:url('../../../../images/emdc/rygl/icons/bm.png') no-repeat center -1px;
}
.icon-fj{
	background:url('../../../../images/emdc/rygl/icons/fj.png') no-repeat center -1px;
}
.icon-gznl{
	background:url('../../../../images/emdc/rygl/icons/gznl.png') no-repeat center -1px;
}
.icon-hjxx{
	background:url('../../../../images/emdc/rygl/icons/hjxx.png') no-repeat center -1px;
}
.icon-ht{
	background:url('../../../../images/emdc/rygl/icons/ht.png') no-repeat center -1px;
}
.icon-pxgl{
	background:url('../../../../images/emdc/rygl/icons/pxgl.png') no-repeat center -1px;
}
.icon-sgz{
	background:url('../../../../images/emdc/rygl/icons/sgz.png') no-repeat center -1px;
}
.icon-woman{
	background:url('../../../../images/emdc/rygl/icons/woman.png') no-repeat center -1px;
}
.icon-man{
	background:url('../../../../images/emdc/rygl/icons/man.png') no-repeat center -1px;
}
.icon-excel{
	background:url('../../../../images/emdc/rygl/icons/excel.png') no-repeat center -1px;
}